


*, *::before, *::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'DM Sans', -apple-system, system-ui, sans-serif;
    background: var(--bg);
    color: var(--text);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background .3s, color .3s;
    -webkit-font-smoothing: antialiased;
}


.ui-lead { display: inline-block; vertical-align: -3px; color: currentColor; flex-shrink: 0; }
.ui-lead.has-text, .ui-lead:not(:last-child) { margin-right: 6px; }
.ui-arw { flex-shrink: 0; vertical-align: -3px; }


.grecaptcha-badge { visibility: hidden !important; opacity: 0 !important; pointer-events: none !important; }
